<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    
    <h2>Zillow Property Search: Property 1</h2>
    
    <form id="property-search">
        
        Address: <input type="text" name="formAddress1" [(ngModel)]="formAddress1">
        
        City, State: <input type="text" name="formCityStateZip1" [(ngModel)]="formCityStateZip1"> 
        
        <button (click)="search1()">Search</button>
        
    </form>
    
    <div id="cost-assumptions">
        <table>
            <tr>
                <th>Purchase Price</th>
                <th>Land Value (25%)</th>
                <th>Building Value</th>
                <th>Improvements</th>
                <th>Closing Costs</th>
                <th>Total Cost</th>
            </tr>
            <tr>
                <td>$<input type="number" name="purchasePrice1" [(ngModel)]="purchasePrice1"></td>
                <td>$ {{ (purchasePrice1 * .25) }} </td>
                <td>$ {{ (purchasePrice1 * .75) }} </td>
                <td>$<input type="number" name="improvements1" [(ngModel)]="improvements1"></td>
                <td>$<input type="number" name="closingCosts1" [(ngModel)]="closingCosts1"></td>
                <td>$ {{ totalCost1 }} </td>
            </tr>
        </table>
        <button (click)="findTotalCost1()">Calculate</button> 
    </div><!--close div "cost-assumptions"-->
    
    <div id="revenue-assumptions">
        <table>
            <tr>
                <th>Monthly Rent</th>
                <th>Vacancy Rate</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div> <!--close div "revenue-assumptions"-->
    
    
    <div id="property-info1">
        
        <div id="address-info1">
            
            <h4>Address:</h4>
            
            <p id="address1"></p>
            
            <p id="citystatezip1"></p>
            
            <p id="zipcode1"></p>
            
        </div><!--close div "address-info"-->
        
        <div id="home-specs1">
            
            <div>Bedrooms:
                <p id="bedrooms1"></p>
            </div>
            
            <div>Bathrooms:
                <p id="bathrooms1"></p>
            </div>
            
            <div>Finished Square Feet:
                <p id="finishedSqFt1"></p>
            </div>
            
            <div>Lot Size (Square Feet):
                <p id="lotSizeSqFt1"></p>
            </div>
            
            <div>Year Built:
                <p id="yearBuilt1"></p>
            </div>
            
            <div>Price Estimate:
                <h5 id="amount1"></h5>
            </div>
            
        </div><!--close div "home-specs"-->
        
        <div id="mortgage-div1">
            
            <h4>Mortgage:</h4>
            
            <div>Down Payment:
                <p id="down-payment1"></p>
            </div>
            
            <div>Insurance (M):
                <p id="insurance-M1"></p>
            </div>
            
            <div>Maintenance (M):
                <p id="maintenance-M1"></p>
            </div>
            
            <div>Utilities:
                <p id="utilities1"></p>
            </div>
            
            <div>Advertising:
                <p id="advertising1"></p>
            </div>
            
            <div>Admin (Y):
                <p id="admin-Y1"></p>
            </div>
            
            <div>Property Management:
                <p id="property-mgmt1"></p>
            </div>
            
            <div>Variable Cost Property Management:
                <p id="property-mgmt-pct1"></p>
            </div>
            
        </div><!--close "mortgage-div"-->
        
    </div><!--close div "property-info"-->
    
    
</body>
</html>
