<html>
<head>
    <script>
        formatNumber(num) {
            return num.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
        };    
    </script>
</head>
<body>
    
    <h2>Compare Properties</h2>
    
    <h3>Search Zillow</h3>

    <form class="property-search">
        <h4>Property 1 Search</h4>
        Address: <input type="text" name="formAddress1" [(ngModel)]="formAddress1">
        City, State: <input type="text" name="formCityStateZip1" [(ngModel)]="formCityStateZip1"> 
        <button (click)="search1()">Search</button>
    </form>
    
    <div id="property1">
        
        <h3>Property 1</h3>
        
        <div class="address-notes">
            <h4>Address:</h4>
            <p class="address1"></p>
            <p id="citystatezip1"></p>
            <p id="zipcode1"></p>
            
            <h4 class="notes">Notes: </h4>
            <p><input type="textarea" name="notes1" [(ngModel)]="notes1"></p>
        </div><!--close div "address-notes"-->
        
        <div class="cost-assumptions">
            <h4>Cost Assumptions</h4>
            <table>
                <tr>
                    <th>Purchase Price</th>
                    <th>Land Value (25%)</th>
                    <th>Building Value</th>
                    <th>Improvements</th>
                    <th>Closing Costs</th>
                    <th>Total Cost</th>
                </tr>
                <tr>
                    <td> $ <input type="number" name="purchasePrice1" [(ngModel)]="purchasePrice1"></td>
                    <td> $ {{ formatNumber(landValue1) }} </td>
                    <td> $ {{ formatNumber(buildingValue1) }} </td>
                    <td> $ <input type="number" name="improvements1" [(ngModel)]="improvements1"></td>
                    <td> $ <input type="number" name="closingCosts1" [(ngModel)]="closingCosts1"></td>
                    <td> $ {{ formatNumber(totalCost1) }} </td>
                </tr>
            </table>
        </div><!--close div "cost-assumptions"-->
        
        <div class="revenue-assumptions">
            <h4>Revenue Assumptions</h4>
            <table>
                <tr>
                    <th>Monthly Rent</th>
                    <th>Vacancy Rate</th>
                </tr>
                <tr>
                    <td> $ <input type="number" name="rentM1" [(ngModel)]="rentM1"></td>
                    <td> % <input type="number" name="vacancyLossRate1" [(ngModel)]="vacancyLossRate1"></td>
                </tr>
            </table>
        </div><!--close div "revenue-assumptions"-->
        
        <div class="quick-stats">
            <h4>Quick Stats</h4>
            <table>
                <tr>
                    <th>Year Built</th>
                    <th>Listed Price</th>
                    <th>Beds</th>
                    <th>Baths</th>
                    <th>Square Footage</th>
                    <th>Lot Size (Sq. Ft.)</th>
                    <th>Location Rating</th>
                </tr>
                <tr>
                    <td class="yearBuilt1"></td>
                    <td class="listedPrice1"></td>
                    <td class="bedrooms1"></td>
                    <td class="bathrooms1"></td>
                    <td class="finishedSqFt1"></td>
                    <td id="lotSizeSqFt1"></td>
                    <td><input type="number" name="locationRating1" [(ngModel)]="locationRating1"></td>
                </tr>
            </table>
        </div><!--close div "quick-stats"-->
        
        <div class="financing-assumptions">
            <h4>Financing Assumptions</h4>
            <table>
                <tr>
                    <th>Down Payment (%)</th>
                    <th>Finance Amt</th>
                    <th>Down Payment Amt</th>
                    <th>Interest Rate (%)</th>
                    <th>Mortgage (Years)</th>
                    <th>Mortgage Payment</th>
                    <th>Cash Outlay</th>
                </tr>
                <tr>
                    <td><input type="number" name="downPaymentPct1" [(ngModel)]="downPaymentPct1"></td>     
                    <td> $ {{ formatNumber(financeAmt1) }} </td>
                    <td> $ {{ formatNumber(downPaymentAmt1) }} </td>
                    <td><input type="number" name="interestRate1" [(ngModel)]="interestRate1"></td>
                    <td><input type="number" name="mortgageTerm1" [(ngModel)]="mortgageTerm1"></td>
                    <td> $ {{ formatNumber(mortgageCostM1) }} </td>
                    <td> $ {{ formatNumber(cashOutlay1) }} </td>
                </tr>
            </table>
        </div><!--close div "financing-assumptions"-->
        
        <div class="expense-assumptions">
            <h4>Expense Assumptions</h4>
            <table>
                <tr>
                    <th>Tax Rate (%)</th>
                    <th>Insurance (Month)</th>
                    <th>Maintenance & Repairs (Month)</th>
                    <th>Utilities (Month)</th>
                    <th>Advertising (Year)</th>
                    <th>Admin (Year)</th>
                    <th>Property Management (%)</th>
                    <th>Property Management (Month) $</th>
                </tr>
                <tr>
                    <td><input type="number" name="taxRate1" [(ngModel)]="taxRate1"></td>
                    <td> $ <input type="number" name="insuranceM1" [(ngModel)]="insuranceM1"></td>
                    <td> $ <input type="number" name="maintenanceM1" [(ngModel)]="maintenanceM1"></td>
                    <td> $ <input type="number" name="utilitiesM1" [(ngModel)]="utilitiesM1"></td>
                    <td> $ <input type="number" name="advertisingY1" [(ngModel)]="advertisingY1"></td>
                    <td> $ <input type="number" name="adminY1" [(ngModel)]="adminY1"></td>     
                    <td><input type="number" name="propertyMgmtPct1" [(ngModel)]="propertyMgmtPct1"></td>
                    <td> $ <input type="number" name="fixedCostPropertyMgmtM1" [(ngModel)]="fixedCostPropertyMgmtM1"></td> 
                </tr>
            </table>
        </div><!--close div "expense-assumptions"-->
        
        <div class="manager-hired">
            <h4>CF & ROI (Outsourced PM)</h4>
            <table>
                <tr>
                    <th>Annual Cash Flow</th>
                    <th>Cash ROI</th>
                    <th>Total ROI</th>
                    <th>Fixed Cost Property Management (Year)</th>
                </tr>
                <tr>
                    <td> $ {{ formatNumber(cashFlowManagerY1) }} </td>
                    <td> {{ (cashRoiManager1 * 100).toFixed(2) }} % </td><!--multiply x100 to convert for visual only-->
                    <td> {{ (totalRoiManager1 * 100).toFixed(2) }} % </td><!--multiply x100 to convert for visual only-->
                    <td> $ {{ formatNumber(fixedCostPropertyMgmtY1) }} </td>
                </tr>
            </table>
        </div><!--close div "manager-hired"-->
        
        <div class="run-ourselves">
            <h4>CF & ROI (Doing My Own PM)</h4>
            <table>
                <tr>
                    <th>Annual Cash Flow</th>
                    <th>Cash ROI</th>
                    <th>Total ROI</th>
                </tr>
                <tr>
                    <td> $ {{ formatNumber(cashFlowOwnY1) }} </td>
                    <td> {{ (cashRoiOwn1 * 100).toFixed(2) }} % </td><!--multiply x100 to convert to whole number for visual only-->
                    <td> {{ (totalRoiOwn1 * 100).toFixed(2) }} % </td>
                </tr>
            </table>
        </div><!--close div "run-ourselves"-->
        
        <p>Test amountFormatted1 {{ amountFormatted1 }} </p>
        
        <button (click)="calculate1()">Calculate</button> 
        
    </div><!--close div "property1"-->
    
    <div class="summary">
        <h4>Summary</h4>
        <table>
            <tr>
                <th>Property</th>
                <th>Address</th>
                <th>Listed Price</th>
                <th>Hypothetical Price</th>
                <th>Improvements</th>
                <th>Cash Outlay</th>
                <th>Rent</th>
                <th>R/HP</th>
                <th>Beds</th>
                <th>Baths</th>
                <th>Sq Ft</th>
                <th>Location Rating</th>
                <th>Cash ROI</th>
                <th>Total ROI</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td>1</td>
                <td class="address1"></td>
                <td class="listedPrice1"></td>
                <td> $ {{ formatNumber(purchasePrice1) }} </td>
                <td> $ {{ formatNumber(improvements1) }} </td>
                <td> $ {{ formatNumber(cashOutlay1) }} </td>
                <td> $ {{ formatNumber(rentM1) }} </td>
                <td> {{ (rhp1).toFixed(2) }} % </td>
                <td class="bedrooms1"></td>
                <td class="bathrooms1"></td>
                <td class="finishedSqFt1"></td>
                <td> {{ locationRating1 }} </td>
                <td> {{ (cashRoiOwn1 * 100).toFixed(2) }} % </td>
                <td> {{ (totalRoiOwn1 * 100).toFixed(2) }} % </td>
                <td> {{ notes1 }} </td>
            </tr>
            <tr>
                <td>2</td>
                <td>P2</td>
                <td>P2</td>
                <td>P2</td>
                <td>P2</td>
                <td>P2</td>
                <td>P2</td>
                <td>P2</td>
                <td>P2</td>
                <td>P2</td>
                <td>P2</td>
                <td>P2</td>
                <td>P2</td>
                <td>P2</td>
                <td>P2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>P3</td>
                <td>P3</td>
                <td>P3</td>
                <td>P3</td>
                <td>P3</td>
                <td>P3</td>
                <td>P3</td>
                <td>P3</td>
                <td>P3</td>
                <td>P3</td>
                <td>P3</td>
                <td>P3</td>
                <td>P3</td>
                <td>P3</td>
            </tr>
        </table>
    </div><!--close div "summary"-->
    
</body>
</html>
