body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: #555;
}
.container-fluid {
    padding:  10px;
    margin: 20px;
    width: 95%;
    
}
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    color: #222;
    font-weight: 700;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h3, h3 {
    font-size: 24px;
}

.h4, h4 {
    font-size: 18px;
}
.h5, h5 {
    font-size: 14px;
}

p {
    margin-bottom: 25px;
}

div.butter-bar {
    width:100%;
    background: linear-gradient(45deg, #635bd6, #f742aa);
    height:10px;
}

div.header-bar {
    height: 110px;
    width: 100%;
    background-color: #fff;
    top: 0;
    z-index: 999;
    
}

input {
    width: 100%;
    height: 38px;
    color: hsl(0, 0, 20);
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    outline: none!important;
    max-width: 160px;
    border: 1px dashed #f742aa;
    
}
.property-section {
    /* width:80%; */
    border: #635bd5 dashed 1px;
    padding: 20px;
}

.property-search input {
    width: 250px;
    height: 35px;
}


@media only screen and (min-width: 600px) {
    /* div.cost-assumptions {
        margin-left: 24px;
    } */
}

@media only screen and (max-width: 600px) {
    /* div.cost-assumptions {
        margin-top: 24px;
    } */
}

@media only screen and (min-width: 600px) {
    /* .term {
        margin-left: 20px;
    } */
}

div.quick-stats img {
    margin-bottom: 50px;
}

div.quick-stats p, div.cost-assumptions p {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 1px;
}

i {margin: 5px;
}

.stats input {margin: 30px;}

.yearBuilt1, .listedPrice1, .bedrooms1, .bathrooms1, .finishedSqFt1, #lotSizeSqFt1,
.yearBuilt2, .listedPrice2, .bedrooms2, .bathrooms2, .finishedSqFt2, #lotSizeSqFt2,
.yearBuilt3, .listedPrice3, .bedrooms3, .bathrooms3, .finishedSqFt3, #lotSizeSqFt3 {
    color: #000;
    line-height: 10px;
    margin-bottom: 0px;
}

button {
    border: none;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
    outline: none;
    text-align: center;
    position: relative;
    font-size: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 1;
    padding: 12px 30px 10px 30px;
    background-color: #eb1d5d;
}

img.logo {
    max-width:150px;
    margin: 0 10px;
}

.property-search {
    padding:5px;
}

.property-search input {
    margin:0vw auto 1.7vw auto;
    color: rgb(63, 16, 96);
    font-size: 30px;
    font-size: 1.5vw;
    text-align: center;
    border: 1px dashed #a077bd;
}

div#property1 {
    margin-top: 20px;
    background: #fff;
    border: 1px dashed #a077bd;
    /* width:80%; */
    padding: 1% 2%;
}

.location-rate {
    margin-left:10px;
}

.notes-input {width: 450px;}

span.mlp {
    padding: 1px;
}

h4.title {
    background: linear-gradient(45deg, #635bd6, #f742aa);
    padding:  20px;
    margin-top: 0;
    color: #fff;
    text-align: center;
    font-size:22px;
}

div#summary-d_length, div#summary-d_filter, div#summary-d_info, div#summary-d_paginate {
    display: none;
}


.cost-assumptions input::before {content: "$";}

.listing-single-item {
    float: left;
    transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}

.listing-single-item .item-inner .image-wrapper {
    position: relative;
    width: 100%;
}

.featured {
    background: linear-gradient(45deg, #635bd6, #f742aa);
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 300;
    padding: 8px 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    min-width: 120px;
}

.image-wrapper {
    position: relative;
}

.listing-single-item .item-inner .image-wrapper img {
    width: 100%;
}

.listing-single-item a {
    color: #fefefe; }
    
.item-inner {
    border: 1px solid #cecece;
    background-color: #fff;
}

.slide-item-features {
    float: left;
    padding-left: 0;
    margin: 15px 0;
}

.listing-single-item .item-inner .desc-box .item-features li {
    border: none;
    margin-right: 15px;
    padding: 3px 0px;
    font-size: 16px;
}

.slide-item-features li {
    float: left;
    background-color: #fff;
    border: 1px solid #B1B1B1;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    margin-right: 5px;
    padding: 3px 5px;
    padding-right: 10px;
    text-transform: capitalize;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.form-group {
    position: relative;
}

/* .address1 {padding-bottom:20px;} */

ul li {list-style: none;}

tr th {
    padding: 10px;
    text-align: center;
}

td {
    border: 1px dashed #a077bd;
    padding: 10px;
    text-align: center;
}

span.purple-text {
    color: #635bd6;
}

.row {
    padding: 10px;
}

:placeholder-shown {
    font-size: .85em;
}